body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial,  Helvetica,sans-serif;
}
main{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 153px;
    
    margin-top: 30px;
}
header h1{
    margin: 0;
    padding: 0;
}

header h1 a{
    background: url("../imagens/h1_logo.png") no-repeat;
    display: block;
    height: 50px;
    width: 150px;
    padding-left:65px ;
    padding-top: 10px;
    color: #737373;
    text-decoration: none;
    font-size: 24px;
    font-weight: 30px;
    float: left;
}
header h1 a:hover{
   color: #2ecc71;
}

header nav.menu_social{
    height: 34px;
    float: right;

}
header nav.menu_social ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;

}
header nav.menu_social ul li a {
    float: left;
    display: block;
    width: 34px;
    height: 34px;
    text-indent: -99999999px;
    margin-left: 5px;
}
header nav.menu_social ul li a.twitter{
   background: url("../imagens/twitter.png") no-repeat;
}
header nav.menu_social ul li a:hover.twitter{
    background: url("../imagens/twitter_hover.png") no-repeat;
 }
 header nav.menu_social ul li a.Faceboock{
     background: url("../imagens/facebook.png") no-repeat;
 }
 header nav.menu_social ul li a:hover.Faceboock{
     background: url("../imagens/facebook_hover.png") no-repeat;
 }
 header nav.menu_social ul li a.rss{
    background: url("../imagens/rss.png") no-repeat;
 }
 header nav.menu_social ul li a:hover.rss{
    background: url("../imagens/rss_hover.png") no-repeat;
}
header nav.menu_social ul li a.pinterest{
    background: url("../imagens/pinterest.png") no-repeat;
 }

header nav.menu_social ul li a:hover.pinterest{
    background: url("../imagens/pinterest_hover.png") no-repeat;
}
header nav.menu_social ul li a.google{
    background: url("../imagens/google.png") no-repeat;
 }
 header nav.menu_social ul li a:hover.google{
    background: url("../imagens/google_hover.png") no-repeat;
}
header nav.menu_social ul li a.dribble{
    background: url("../imagens/dribbble.png") no-repeat;
 }
 header nav.menu_social ul li a:hover.dribble{
    background: url("../imagens/dribbble_hover.png") no-repeat;
}
header nav.menu_principal{
    clear: both;
    height: 70px;
    border-top: #dadada solid 1px;
}
header nav.menu_principal ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
header nav.menu_principal ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

header nav.menu_principal ul li a{
    display: block;
    padding-top:30px ;
    padding-right:15px ;
    color: #737373;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
header nav.menu_principal ul li a:hover{
    color: #2ecc71;
}
#banner{
    
    background: url("../imagens/bg_banner.png") top center no-repeat;
  
}
#banner .img{
    display: block;
    width: 830px;
    height: 472px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    
}
#banner .texto_banner{
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    text-align: center;
    color: #AEADAD;
    font-size: 16px;
    text-transform: uppercase;
   

}
#banner .botao_banner{
background: #2ecc71;
display: block;
width: 185px;
height: 30px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
color: white;
text-align: center;
font-size: 18px;
font-weight: 500;
text-decoration: none;
padding-top: 13px;
}
#banner .botao_banner:hover{
    text-decoration: underline;
}
#conteudo{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    
}
#conteudo .chamada{
    display: grid;
    width: 300px;
    margin-left: 10px;
    float:left ;
}

footer{
    background: #efefef;
    height: 80px;
    padding-top: 20px;
    padding-left: 100px;
    clear: both;
    color: #AEADAD;
   font-size: 10px;
    
}